body{
    background-color: bisque;
    font-family: Verdana, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: chocolate;
}

ul{
    margin: 0, auto;
}

li{
    display: inline;
}

